.cards-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 540px;
    z-index: 1;
    color: white;
    font-family: monospace;
}

.card {
    width: 455px;
    height: 250px;
    background-repeat: no-repeat;
}

.card-logo-container {
    width: 85px;
    height: 85px;
    margin: 22px 27px;
}

.card-back {
    align-self: flex-end;
    display: flex;
    justify-content: end;
    align-items: center;
}

.p-front {
    font-size: 34px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 35px;
}

.name-front {
    letter-spacing: 2px;
}

.info-front {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    margin-top: 20px;
    font-size: 22px;
}

.span-back {
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 2px;
    margin-right: 55px;
    margin-bottom: 8px;
}

@media only screen and (max-width: 1000px) {
    .cards-main {
       justify-content: center;
       align-items:center;
       width: 450px;
       height: auto;
    }
    .card-front {
        order: 2;
        margin: 0 auto 0 0;
        margin-top: -55px;
    }
    .card-logo-container {
        width: 60px;
        height: 60px;
        margin: 0;
        margin-top: 15px;
        margin-left: 18px;
    }
    .p-front {
        font-size: 22px;
        margin-top: 15px;
    }
    .info-front {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 32px;
        margin-top: 10px;
        font-size: 18px;
    }
    .card {
        width: 300px;
        height: 160px;
        background-size: 300px 160px;
    }
    .card-back {
        align-self: center;
        order: 1;
        margin: 0 0 0 auto;
    }
    .span-back {
        font-size: 15px;
        margin-right: 38px;
    }
}