.complete-main {
    width: 450px;
    height: auto;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;

}

.complete-logo {
    margin-bottom: 35px;
}

.h1-complete {
    color: rgb(78, 19, 78);
    font-family: monospace;
    font-size: 40px;
    margin-bottom: 10px;
}

.p-complete {
    color: rgb(163, 162, 162);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 45px;
}

.btn-complete {
    border: none;
    background: none;
    color: white;
    background-color: rgb(78, 23, 78);
    padding: 15px 0;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    width: 85%;
}