.main-form {
    width: 450px;
    height: auto;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: monospace;
}

.name-label, .number-label, .exp-label, .cvc-label {
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(78, 19, 78);
    font-weight: 600;
}

.name-input, .number-input, .input-date-mm, .input-date-yy, .input-cvc {
    padding: 12px 15px;
    border: none;
    border: 1px solid lightgray;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name-input::placeholder, .number-input::placeholder, .input-date-mm::placeholder, .input-date-yy::placeholder, .input-cvc::placeholder {
    font-family: monospace;
    color: rgb(196, 192, 192);
}

.name-input:focus, .number-input:focus, .input-date-mm:focus, .input-date-yy:focus, .input-cvc:focus {
    outline: none;
    border: 1px solid rgb(78, 19, 78);
    color: rgb(78, 19, 78);
}

.last-info-main {
    display: flex;
}

.exp-date {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-date-mm, .input-date-yy {
    width: 95px;
}

.input-cvc {
    width: 100%;
}

.cvc-input-main {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.confirm {
    border: none;
    background: none;
    color: white;
    background-color: rgb(78, 23, 78);
    padding: 15px 0;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}